body {
    text-align: center;
    height: 100%;
    background: rgb(216,224,233);
    background: linear-gradient(0deg, rgba(216,224,233,1) 54%, rgba(183,201,223,1) 86%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}
html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #487dc2
}
@media all and (max-width: 600px){
    .prethodna {
        visibility: hidden; 
    }
    .trenutna {
        margin-top: -200px;
    }
}
@media not all and (max-width: 600px){
    .prethodna {
        display: inline-block;
        width: 15em;
        height: 15em;
        border: 3px solid #487dc2;
        border-radius: 15%;
        vertical-align: bottom;
    }
}
.trenutna {
    display: inline-block;
    width: 20em;
    height: 20em;
    border: 3px solid #487dc2;
    border-radius: 5%;
}
.sljedeca {
    display: inline-block;
    width: 15em;
    height: 15em;
    border: 3px solid #487dc2;
    border-radius: 15%;
    vertical-align: bottom;
}
.naslov {
    margin-top: 80px;
    font-size: 25px;
}
.opis {
    margin-top: 35px;
    font-size: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}