/*za manje ekrane 
    flex-flow: row nowrap;
    align-items: center;
*/

body {
    margin: 0;
}
html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}   
@media all and (max-width: 600px){
    label {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
        width: 400px;
        padding-bottom: 1.5rem;
    }
}
@media not all and (max-width: 600px){
    label {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 400px;
        padding-bottom: 1.5rem;
    }
}


input {
    width: 170px;
}
select {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 178px;
    padding-bottom: 0.2rem;
}
input[type="time"] {
    width: 173px;
}
form {
    text-align: -webkit-center
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}