body,html {
    width:100%;
    height:100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
}
th {
    border: 1px solid black;
    text-align: center;
    font-weight: normal;
    width: 200px;
    height: 30px;
}
td {
    border: 1px solid black;
    text-align: center;
    height: 30px;
}
tr:hover {
    border: solid 2px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}