body {
    margin: 0;
    padding: 0; 
    width: 100%;
}
html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
ul {
    font-size: 20px;
}
@media all and (max-width: 600px){
    td:empty {
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }
    table {
        transform:rotate(90deg);
        margin-top: -10%;
        display: flex;
        border-collapse: collapse;
    }
    th {
        visibility: hidden;
    }
    tr {
        display: table-cell;
    }
    td {
        border: 1px solid black;
        background: white;
        height: 60px;
        width: 10px;
    }
}
@media not all and (max-width: 600px) {
    .table-raspored {
        border-collapse: collapse;
        margin: 0 auto;
        table-layout: fixed;
        width: 700px;  
    }
    th {
        text-align: center;
        font-weight: normal;
    }
    td {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
        vertical-align: top;    
        min-width: 10px;
        height: 60px;
        width: 10px;
        background: #e6e6e6;
        overflow: hidden;
    }
    td:nth-child(1) {
        border: 0px;
        border-right: 1px solid;
        text-align: right;
        background: white;
        vertical-align: middle;
    }
    td:nth-child(2n) {
        border-right: dashed 1px;
    }
    td:nth-child(2n-1) {
        border-left: 0px;
    }
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.cell-cas {
    background: #dee6f0;
}
.cell-prazan {
    display: none;
}